<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.jeremy-quicklearner.kaleidomancy-agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>%ROOTDIR%/runtime/venv/bin/python3</string>
        <string>%ROOTDIR%/src/kaleidomancy-agent.py</string>
        <string>%ROOTDIR%/runtime/cmds</string>
    </array>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
